.row0 {background-color: rgb(238, 238, 238)}
.row1 {background-color: rgb(255, 255, 255)}

.tableHeaderCell {
	vertical-align: top;
	font-weight: bold;
	text-align: left;
	background-color: rgb(204, 204, 255);
	}

.indentTitle {
border-width: 1px;
border-style:solid;
padding: 5px;
background-color:#F0F0F0;
margin-left:10px;
margin-right:10px;
margin-top:5px;
font-weight: bold;
}

.examples, .issues, .sentenceAttributes {
   display:list-item;
   list-style-type:none;
   margin-left:30px;
}

.inheritanceTreeItem {
   display:list-item;
   list-style-type:none;
   margin-left:5px;
   margin-top:0px;
   margin-bottom:0px;
}

.inheritanceBox {
   float: left;
   background-color:#C5CAEB;
}

.inheritanceBranch {
   float: left;
   padding-right:15px;
}

.rightSpacer {
   float: right;
   text-align:right;
}


.detailLabel {
	padding-right: 4px;
	font-weight: bold;
}

.sentenceHeader {
	padding-top:5px;

	padding-right: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.topDetailBox, .sectionBox, .inheritanceBox {
margin-bottom: 10px;
border-width: 1px;
padding: 5px;
border-style:solid;
}

.kindDetailBox {
border-width: 1px;
padding: 5px;
border-style:solid;
background-color:#FFFFFF;
}

.topDetailBox {
background-color:#C5CAEB;
}

.tableBox {
    margin-left=10px;
	margin-right=10px;
	width=100%;
}

.detailBox {
border-width: 1px;
padding: 5px;
border-style:solid;
background-color:#F0F0F0;
margin-left:10px;
margin-right:10px;
margin-bottom:5px;
}

.attributeBox {
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-style:solid;
border-left-style:solid;
border-right-style:solid;
padding: 5px;
margin-left:10px;
margin-right:10px;
}


.detailBox ul {
padding:0px;
margin:0px;
}

.sectionBox {
	background-color:#FFFFFF;
}

